[submodule "eattheblocks/day7/lib/forge-std"]
	path = eattheblocks/day7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eattheblocks/week2HW/lib/forge-std"]
	path = eattheblocks/week2HW/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
